html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
dd,
dt,
dl,
table {
    margin: 0;
    padding: 0;
    font-family: "Arial", 'Microsoft Yahei',"Lucida Grande", "Tahoma","Helvetica", "sans-serif", 微软雅黑,黑体;
    font-size: 14px;
}

h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.2em;
}

.exp-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: black;
    color: white;
    width: 350px;
    max-height: 350px;
    overflow-y: scroll;
    z-index: 999;
}

#exp {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    /* border: 1px solid #000; */
}

#exp .exp-container {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: none;
}

#exp .exp-item {
    margin: 0;
    padding: 0;
    position: absolute;
    word-wrap: break-word;
    overflow: hidden;
}

#exp .circle {
    border-radius: 50%;
}

#exp .instr{
    padding:10px;
    font-size: 30px;
    text-align: center;
}

#exp .stumili{
    padding:10px;
    font-size: 21px;
    text-align: center;
}

#exp .pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}

.center-box{
    text-align: center;
}

.flex-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}